
body{
margin:0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.white-text {
  color: #fff;
}
.home-container {
  box-sizing: border-box;
  background: #212a35;
  margin: 0;
  min-height: calc(100vh - 44px);
  padding: 30px 0;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
.pin {
  min-height: calc(100vh - 44px);
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.white-text h2 {
  font-weight: 800 !important;
  color: #fff;
  text-align: center;
}

.pincode-input-container {
  margin: 30px 0 0;
  text-align: center;
}
.pincode-input-container input {
  background: #546171 !important;
  border-radius: 15px;
  width: 110px !important;
  height: 110px !important;
  color: #fff !important;
  border: 1px solid #212a35 !important;
  margin: 0px 10px !important;
  font-size: 40px;
  font-weight: 500;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input[value]:not([value=""]) {
  background-color: #2584ab !important;
}

.hg-theme-default {
  background-color: #212a35;
  width: 540px;
  margin: 30px auto 0;
}

.hg-theme-default .hg-button {
  background: #3a4756;
  color: #fff;
  font-size: 30px;
}

.hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 10px;
}
.hg-theme-default .hg-row .hg-button {
  margin-bottom: 10px;
}

.hg-theme-default.hg-layout-numeric .hg-button {
  height: 100px;
  box-shadow: 0px 6px 6px #0f141a;
  border: none;
}
.hg-theme-default .hg-button.hg-activeButton {
  background: #556171;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:992px){
  .pincode-input-container {
    margin: 30px 0 80px;
}
.hg-theme-default.hg-layout-numeric .hg-button {
  height: 140px;
}
}

@media screen and (max-width:768px){
  .pincode-input-container {
    margin: 10px 0 30px;
}
.hg-theme-default.hg-layout-numeric .hg-button {
  height: 70px;
  width: 120px;
  flex-grow: 0;
}
.pincode-input-container input {
  width: 70px !important;
  height: 70px !important;
  margin: 25px 5px !important;
}
}