




.dashboard-body {
  display: block;
  width: 100%;
  margin-top: 64px;
}

.c-list__employees {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.sorting-wrapper {
  display: flex;
  float: left;
  margin: 20px 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .c-list__employees {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-list__employee {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  position: relative;
}

.c-list__employee:hover .c-close,
.c-list__employee:hover .c-edit {
  opacity: 1;
}

.c-input {
  margin: 30px auto;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  font-size: 18px;
}

.c-msg {
  font-size: 32px;
  color: #ccc;
}

.c-btn {
  padding: 10px 20px;
  border: 0;
  background-color: red;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.c-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.c-edit {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.item-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
  transform: translateX(0);
}
.item-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 500ms ease-in;
}
