@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf)
    format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf)
    format("truetype");
}

.video-wrapper {
  position: relative;
}

.css-loader .loader {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  left: 40px;
  top: 15px;
}

.css-loader .loader:after {
  content: "";
  position: absolute;
  background-color: #212a35;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.css-loader .loader > span {
  position: absolute;
  height: 100%;
  width: 51%;
  overflow: hidden;
}
.css-loader .left {
  left: 0;
}
.css-loader .right {
  left: 49%;
}

.css-loader .load {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3fafd7;
  animation: rotate-left 6s infinite linear;
  transform-origin: 0 50% 0;
}

.css-loader .right .load {
  left: -101%;
  transform-origin: 100% 50% 0;
  animation-name: rotate-right;
  animation-delay: 3s;
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: block;
  position: relative;
  margin-top: 30px;
}
.white-text {
  color: #fff;
}
.home-container {
  box-sizing: border-box;
  background: #212a35;
  margin: 0;
  min-height: calc(100vh - 44px);
  padding: 60px 0;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
.home-container .container {
  margin: 0 auto;
  display: flex;
  padding: 0;
}
.home-container .container h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  animation: fadein 3s;
  margin-bottom: 20px;
}
.home-container .container .text {
  width: 90%;
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
}
.home-container form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
}

.home-container form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: #0e6e02;
  border: 0;
  padding: 10px 15px;
  color: #fbd3e9;
  border-radius: 3px;
  font-size: 20px;
  width: 60%;
  cursor: pointer;
  transition-duration: 0.25s;
}
.home-container form button:hover {
  border: 1px solid #0e6e02;
  border-radius: 5px;
  background-color: #f5f7f9;
  color: #0e6e02;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}

.bd-example > .btn,
.bd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.white-text h2 {
  font-weight: 800 !important;
  color: #fff;
  text-align: center;
}

.webcam-img video {
  background: #898989;
  width: 350px;
  height: 320px;
}
.webcam-img img {
  background-color: #1b232c;
  width: 350px;
  height: 320px;
  border: none;
  outline: none;
}
.webcam-btn.capture {
  visibility: hidden;
}

.record-slider-block {
  float: left;
  width: 33.3333%;
}
.record-slider-block label {
  width: 100%;
  display: block;
  border-radius: 20px;
  background-color: #1b232c;
  border: 0px;
  color: #3fafd7;
  font-weight: 800;
}
.record-slider .record-slider-block:hover label {
  background-color: #3fafd7;
}

.record-slider {
  display: inline-block;
  width: 100%;
  background-color: #111820;
  border-radius: 20px;
  padding: 2px 2px;
  position: relative;
}
.record-slider-block:hover .tooltip {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #92c731;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  bottom: -55px;
  text-align: center;
  left: 0px;
}

.record-slider-block .tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 14px solid #fff0;
  border-bottom: 14px solid #92c731;
  border-right: 14px solid #fff0;
  border-left: 14px solid #fff0;
  left: 30px;
  top: -28px;
}
.record-slider-block .tooltip.right::before {
  left: 80%;
}
.record-slider-block .tooltip.middle::before {
  left: 47%;
}
.record-slider-block .tooltip.middle {
  background-color: #ff9501;
}
.record-slider-block .tooltip.middle::before {
  border-bottom: 14px solid #ff9501;
}
.record-slider-block .tooltip.right {
  background-color: #eb5c58;
}
.record-slider-block .tooltip.right::before {
  border-bottom: 14px solid #eb5c58;
}
/* webcam  */
.home-container .webcam-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.home-container .webcam-container .webcam-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 38%;
}
/* Media queries ~ */
@media screen and (max-width: 1000px) {
  .home-container .container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 678px) {
  .login-container {
    padding-top: 10%;
  }
  .home-container .container {
    max-width: 80vw;
  }
  .home-container form {
    width: 90%;
  }
  .home-container .loginDesign {
    display: none;
  }
  .home-container .container .text {
    width: 100%;
    padding: 80px 20px;
  }
}
@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}
