@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  margin:0;
}

.video-wrapper {
  position: relative;
  max-width: 535px;
  margin: 0 auto;
}

.css-loader .loader {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  left: 40px;
  top: 15px;
}

.css-loader .loader:after {
  content: "";
  position: absolute;
  background-color: #212a35;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.css-loader .loader > span {
  position: absolute;
  height: 100%;
  width: 51%;
  overflow: hidden;
}
.css-loader .left {
  left: 0;
}
.css-loader .right {
  left: 49%;
}

.css-loader .load {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3fafd7;
  animation: rotate-left 6s infinite linear;
  transform-origin: 0 50% 0;
}

.css-loader .right .load {
  left: -101%;
  transform-origin: 100% 50% 0;
  animation-name: rotate-right;
  animation-delay: 3s;
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: block;
  position: relative;
  margin-top: 30px;
}
.white-text {
  color: #fff;
}
.home-container {
  box-sizing: border-box;
  background: #212a35;
  margin: 0;
  min-height: calc(100vh - 44px);
  padding: 20px 0;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}
.home-container .container {
  margin: 0 auto;
  display: flex;
  padding: 0;
}
.home-container .container h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  animation: fadein 3s;
  margin-bottom: 20px;
}
.home-container .container .text {
  width: 90%;
  padding: 30px 0;
  text-align: center;
  margin: 0 auto;
}
.home-container form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
}

.home-container form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: #0e6e02;
  border: 0;
  padding: 10px 15px;
  color: #fbd3e9;
  border-radius: 3px;
  font-size: 20px;
  width: 60%;
  cursor: pointer;
  transition-duration: 0.25s;
}
.home-container form button:hover {
  border: 1px solid #0e6e02;
  border-radius: 5px;
  background-color: #f5f7f9;
  color: #0e6e02;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -0.75rem 0;
  border: solid #dee2e6;
  border-width: 1px 0 0;
}

.bd-example > .btn,
.bd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-check {
  clip: rect(0, 0, 0, 0);
  /* pointer-events: none; */
}
.white-text h2 {
  font-weight: 800 !important;
  color: #fff;
  text-align: center;
}

.webcam-img video {
  background: #898989;
  width: 535px;
  height: 500px;
  transform: scaleX(-1);
}
.webcam-img img {
  background-color: #1b232c;
  border: none;
  outline: none;
  height: 500px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 535px;
}
.webcam-btn.capture {
  visibility: hidden;
}
.user-detail-login h4 {
  z-index: 99;
  text-shadow: 3px 3px 3px #000;
}
ul.nav.nav-tabs {
  border: none;
  background-color: #171717;
  padding: 5px 5px 7px 5px;
  border-radius: 25px;
}

ul.nav.nav-tabs li button {
  width: 100%;
  font-size: 20px;
  border-radius: 24px;
  color: #3fafd7;
  text-align: center;
  background-color: #212a35;
  box-shadow: 0px 0px 3px #212a35;
  display: block;
    padding: 0.5rem 1rem;
    line-height: 30px;
}
ul.nav.nav-tabs li button.active {
  background-color: #3fafd7;
  color: #fff;
  border: none;
  
}
ul.nav.nav-tabs li {
  width: 33.333%;
  text-align: center;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
}

.record-slider-block {
  float: left;
  width: 33.3333%;
}
.record-slider-block span.btn {
  width: 100%;
  display: block;
  border-radius: 20px;
  background-color: #1b232c;
  border: 0px;
  color: #3fafd7;
  font-weight: 800;
  padding: 10px;
}
.tab-content {
  font-weight: 600;
}
.record-slider .record-slider-block:hover span.btn, .record-slider #active span.btn {
  background-color: #3fafd7;
  color: #fff;
}

.btn-outline-success.left {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  background-color: #198754;
  color: #fff;
  border-radius: 24px;
  height: 60px;
  line-height: 60px;
}
.btn-outline-success.left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 14px solid #fff0;
  border-bottom: 14px solid #198754;
  border-right: 14px solid #fff0;
  border-left: 14px solid #fff0;
  left: 85px;
  top: 64px;
}

.btn-outline-warning.middle {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  background-color: #ff9503;
  color: #fff;
  border-radius: 24px;
  height: 60px;
  line-height: 60px;
}

.btn-outline-warning.middle::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 14px solid #fff0;
  border-bottom: 14px solid #ff9503;
  border-right: 14px solid #fff0;
  border-left: 14px solid #fff0;
  left: 50%;
  top: 64px;
}
.btn-outline-danger.right {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  background-color: #eb5c59;
  color: #fff;
  border-radius: 24px;
  height: 60px;
  line-height: 60px;
}

.btn-outline-danger.right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 14px solid #fff0;
  border-bottom: 14px solid #eb5c59;
  border-right: 14px solid #fff0;
  border-left: 14px solid #fff0;
  right: 85px;
  top: 64px;
}


#active .tooltip label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

.record-slider {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  padding: 2px 2px;
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  z-index: 99;;
}

.tooltip {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  background-color: #92c731;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  bottom: -55px;
  text-align: center;
  left: 0px;
}
#todaysDate {
  margin-bottom: 20px;
}

.tooltip {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
  color: #fff;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  left: 0px;
  font-size: 16px;
  font-weight: 700;
}
.tooltip-btn label {
  display: block;
}
#active .tooltip {
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  color: #fff;
}

#not-active #not-active-2,#active #not-active-2, #active #not-active-1 {
  display: none;
}


.record-slider-block .tooltip::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 14px solid #fff0;
  border-bottom: 14px solid #92c731;
  border-right: 14px solid #fff0;
  border-left: 14px solid #fff0;
  left: 30px;
  top: -28px;
}
.record-slider-block .tooltip.right::before {
  left: 80%;
}
.record-slider-block .tooltip.middle::before {
  left: 47%;
}
.record-slider-block .tooltip.middle {
  background-color: #ff9501;
}
.record-slider-block .tooltip.middle::before {
  border-bottom: 14px solid #ff9501;
}
.record-slider-block .tooltip.right {
  background-color: #eb5c58;
}
.record-slider-block .tooltip.right::before {
  border-bottom: 14px solid #eb5c58;
}
/* webcam  */
.home-container .webcam-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.home-container .webcam-container .webcam-btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.user-home-clocksheet span {
  position: absolute;
  bottom: 40px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 800 !important;
  background-color: #00000085;
  padding: 0px 5px;
  z-index: 1;
  border-radius: 5px;
}

.user-home-clocksheet .in {
  left: 10px;
}

.user-home-clocksheet .break {
  left: 35%;
  background-color: #ff9503;
}

.user-home-clocksheet .endBreak {
  left: 60%;
  background-color: #ff9503;
}
.user-home-clocksheet .out {
  right: 10px;
  background-color: #6c757d;
}
.user-home-clocksheet .in {
  background-color: #0b971a;
}

.user-home-clocksheet .timesheet-type:last-of-type {
  opacity: 1;
  bottom: 485px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  background-color: #0e971b;
}
.user-home-clocksheet .timesheet-type {
  opacity: 0;
}

.user-home-clocksheet .timesheet-type.clock-endBreak {
  font-size: 0;
  background-color: #0e971b;
}
.user-home-clocksheet .timesheet-type.clock-endBreak::before {
  content: "Clocked In";
  font-size: 16px;
}

.user-home-clocksheet .timesheet-type.clock-break {
  font-size: 0;
  background-color: #d35903;
}
.user-home-clocksheet .timesheet-type.clock-break::before {
  content: "On Break";
  font-size: 16px;
}
.user-home-clocksheet .timesheet-type.clock-out {
  background-color: #555454;
  font-size: 0;
}
.user-home-clocksheet .timesheet-type.clock-out::before{
  content: "Clocked Out";
  font-size: 16px;
}

.user-detail-login h4 {
  position: absolute;
  color: #fff;
  top: 5px;
  left: 10px;
  font-weight: 900;
  font-size: 16px;
}

.user-detail-login h4.role {
  top: 25px;

}
.big-screen {
  margin: 30px auto 0;
}

.reactive-btn .content {
  font-size: 20px;
  font-weight: 600;
}


/* Media queries ~ */
@media screen and (max-width: 993px) {
  .home-container .container {
    max-width: 90vw;
  }
}



@media only screen and (max-width: 992px) {

  .css-loader .loader {
    left: 20px;
  }
  .record-slider {
    display: inherit;
    
  }

}
@media screen and (max-width: 678px) {
  .login-container {
    padding-top: 10%;
  }
  .home-container .container {
    max-width: 80vw;
  }
  .home-container form {
    width: 90%;
  }
  .home-container .loginDesign {
    display: none;
  }
  .home-container .container .text {
    width: 100%;
    padding: 80px 20px;
  }
  .webcam-img video {
    width: 100%;
    height: 100%;
}
ul.nav.nav-tabs li button {
  font-size: 14px;
}
}
@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.wish {
  position: absolute;
  bottom: -215px;
}
@media screen and (min-width:992px){
  .wish {
    right: 0;
    bottom: 0;
    width: 50%;
}
}


@-webkit-keyframes makeitrain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
}

@-moz-keyframes makeitrain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
}
@-o-keyframes makeitrain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
}
@-ms-keyframes makeitrain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
}
@keyframes makeitrain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
  }
}


.annimation-rib {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9;
  margin-top: -100vh;
}
.annimation-rib-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 35vh;
  opacity: 0;
}
.annimation-rib-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-40deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 182ms;
  -webkit-animation-duration: 1116ms;
  transform: rotate(-40deg);
  animation-name: makeitrain;
  animation-duration: 1116ms;
  animation-delay: 182ms;
  animation-iteration-count: infinite;
 
}
.annimation-rib-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 161ms;
  -webkit-animation-duration: 1076ms;
}
.annimation-rib-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-51deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 481ms;
  -webkit-animation-duration: 1103ms;
}
.annimation-rib-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(61deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 334ms;
  -webkit-animation-duration: 708ms;
}
.annimation-rib-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(-52deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 302ms;
  -webkit-animation-duration: 776ms;
}
.annimation-rib-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(38deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 180ms;
  -webkit-animation-duration: 1168ms;
}
.annimation-rib-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(11deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 395ms;
  -webkit-animation-duration: 1200ms;
}
.annimation-rib-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(49deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 14ms;
  -webkit-animation-duration: 887ms;
}
.annimation-rib-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 149ms;
  -webkit-animation-duration: 805ms;
}
.annimation-rib-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(10deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 351ms;
  -webkit-animation-duration: 1059ms;
}
.annimation-rib-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(4deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 307ms;
  -webkit-animation-duration: 1132ms;
}
.annimation-rib-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(42deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
  -webkit-animation-duration: 776ms;
}
.annimation-rib-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-72deg);
  -webkit-animation: makeitrain 1000ms infinite ease-out;
  -webkit-animation-delay: 429ms;
  -webkit-animation-duration: 818ms;
}
.annimation-rib-piece:nth-child(odd) {
  background: #7431e8;
}
.annimation-rib-piece:nth-child(even) {
  z-index: 1;
}
.annimation-rib-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
}
.annimation-rib-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
}
.annimation-rib-piece:nth-child(4n-7) {
  background: red;
}



 
.fireworks {
  margin: 0;
  padding: 0;
  margin-top: -60vh;
  height: 60vh;
}
 .pyro >
 .before, .pyro >
 .after {
	 position: absolute;
	 width: 5px;
	 height: 5px;
   bottom: 0;
	 border-radius: 50%;
	 box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #9f0, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #0df, -152px -380.66667px #00ffd0, -50px -37.66667px #0fd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #f60, 97px -325.66667px #f06, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #0bf, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #09f, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #08f, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #f60, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #0f3, 100px -6.66667px #ff008c;
	 -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	 -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	 -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	 -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	 animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro >
.before1, .pyro >
.after1 {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #9f0, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #0df, -152px -380.66667px #00ffd0, -50px -37.66667px #0fd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #f60, 97px -325.66667px #f06, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #0bf, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #09f, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #08f, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #f60, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #0f3, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
 .pyro >
 .after {
	 -moz-animation-delay: 1.25s, 1.25s, 1.25s;
	 -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	 -o-animation-delay: 1.25s, 1.25s, 1.25s;
	 -ms-animation-delay: 1.25s, 1.25s, 1.25s;
	 animation-delay: 1.25s, 1.25s, 1.25s;
	 -moz-animation-duration: 1.25s, 1.25s, 6.25s;
	 -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	 -o-animation-duration: 1.25s, 1.25s, 6.25s;
	 -ms-animation-duration: 1.25s, 1.25s, 6.25s;
	 animation-duration: 1.25s, 1.25s, 6.25s;
}
.pyro >
.after1 {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
 @-webkit-keyframes bang {
	 from {
		 box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}
 @-moz-keyframes bang {
	 from {
		 box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}
 @-o-keyframes bang {
	 from {
		 box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}
 @-ms-keyframes bang {
	 from {
		 box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}
 @keyframes bang {
	 from {
		 box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
	}
}
 @-webkit-keyframes gravity {
	 to {
		 transform: translateY(200px);
		 -moz-transform: translateY(200px);
		 -webkit-transform: translateY(200px);
		 -o-transform: translateY(200px);
		 -ms-transform: translateY(200px);
		 opacity: 0;
	}
}
 @-moz-keyframes gravity {
	 to {
		 transform: translateY(200px);
		 -moz-transform: translateY(200px);
		 -webkit-transform: translateY(200px);
		 -o-transform: translateY(200px);
		 -ms-transform: translateY(200px);
		 opacity: 0;
	}
}
 @-o-keyframes gravity {
	 to {
		 transform: translateY(200px);
		 -moz-transform: translateY(200px);
		 -webkit-transform: translateY(200px);
		 -o-transform: translateY(200px);
		 -ms-transform: translateY(200px);
		 opacity: 0;
	}
}
 @-ms-keyframes gravity {
	 to {
		 transform: translateY(200px);
		 -moz-transform: translateY(200px);
		 -webkit-transform: translateY(200px);
		 -o-transform: translateY(200px);
		 -ms-transform: translateY(200px);
		 opacity: 0;
	}
}
 @keyframes gravity {
	 to {
		 transform: translateY(200px);
		 -moz-transform: translateY(200px);
		 -webkit-transform: translateY(200px);
		 -o-transform: translateY(200px);
		 -ms-transform: translateY(200px);
		 opacity: 0;
	}
}
 @-webkit-keyframes position {
	 0%, 19.9% {
		 margin-top: 10%;
		 margin-left: 40%;
	}
	 20%, 39.9% {
		 margin-top: 40%;
		 margin-left: 30%;
	}
	 40%, 59.9% {
		 margin-top: 20%;
		 margin-left: 70%;
	}
	 60%, 79.9% {
		 margin-top: 30%;
		 margin-left: 20%;
	}
	 80%, 99.9% {
		 margin-top: 30%;
		 margin-left: 80%;
	}
}
 @-moz-keyframes position {
	 0%, 19.9% {
		 margin-top: 10%;
		 margin-left: 40%;
	}
	 20%, 39.9% {
		 margin-top: 40%;
		 margin-left: 30%;
	}
	 40%, 59.9% {
		 margin-top: 20%;
		 margin-left: 70%;
	}
	 60%, 79.9% {
		 margin-top: 30%;
		 margin-left: 20%;
	}
	 80%, 99.9% {
		 margin-top: 30%;
		 margin-left: 80%;
	}
}
 @-o-keyframes position {
	 0%, 19.9% {
		 margin-top: 10%;
		 margin-left: 40%;
	}
	 20%, 39.9% {
		 margin-top: 40%;
		 margin-left: 30%;
	}
	 40%, 59.9% {
		 margin-top: 20%;
		 margin-left: 70%;
	}
	 60%, 79.9% {
		 margin-top: 30%;
		 margin-left: 20%;
	}
	 80%, 99.9% {
		 margin-top: 30%;
		 margin-left: 80%;
	}
}
 @-ms-keyframes position {
	 0%, 19.9% {
		 margin-top: 10%;
		 margin-left: 40%;
	}
	 20%, 39.9% {
		 margin-top: 40%;
		 margin-left: 30%;
	}
	 40%, 59.9% {
		 margin-top: 20%;
		 margin-left: 70%;
	}
	 60%, 79.9% {
		 margin-top: 30%;
		 margin-left: 20%;
	}
	 80%, 99.9% {
		 margin-top: 30%;
		 margin-left: 80%;
	}
}
 @keyframes position {
	 0%, 19.9% {
		 margin-top: 10%;
		 margin-left: 40%;
	}
	 20%, 39.9% {
		 margin-top: 40%;
		 margin-left: 30%;
	}
	 40%, 59.9% {
		 margin-top: 20%;
		 margin-left: 70%;
	}
	 60%, 79.9% {
		 margin-top: 30%;
		 margin-left: 20%;
	}
	 80%, 99.9% {
		 margin-top: 30%;
		 margin-left: 80%;
	}
}
 
