.form-box {
  width: 380px;
  height: 450px;
  background-color: #546171;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  border-radius: 2%;
  margin: 20px auto;
}
.pd-40 {
  padding: 20px;
}
.header-form {
  margin-bottom: 15px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}
.login-page {
  background-color: #212a35;
}
